input {
  margin-bottom: 1em;
  min-height: 30px;
  font-size: 20px;
  border: 0.3em solid #fff;
  border-radius:0.2em;
  font-family:'Roboto', sans-serif;
}

input:focus {
   outline: none;
}

input[type="text"] {
  margin-top: 1em;
  padding: 5px;
}

#getGif {
   min-height: 50px;
   width: 150px;
   border: 0.12em solid;
   background-color: transparent;
   border-radius:0.3em;
   color: #fff;
   transition: all 0.2s;
}

#getGif:hover {
  background: rgba(151, 174, 216, 0.3);
  cursor: pointer;
}

#getGif:active {
  border: #fff solid 0.1em;
  color:#fff;
  cursor: pointer;
  background: rgba(86, 132, 216, 0.3);
}

#label {
  display: block;
  text-align: center;
  margin: 1em;
}

#gifContainer {
  display: flex;
  justify-content: center;
  height: 300px;
  max-width: 300px;
  width: auto;
}

form {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

progress {
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
border: none;
background-size: auto;
height: 0.1em;
width: 200px;
margin-top: 2em;

}

progress::-moz-progress-bar {
background: #fff;
color: #fff;
height: 0.1em;
}

progress::-webkit-progress-value {
background: #fff;
color: #fff;
height: 0.1em;
}

#contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

#gif {
  margin: 60px;
  max-height: 300px;
  max-width: 300px;
  width: 150px;
  width: auto;
  height: auto;
}

footer {
  margin-top: 50px;
  color: #fff;
  text-align: center;
  font-family:'Roboto', sans-serif;
}

a:link, a:visited {
  color: rgba(151, 174, 216);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgba(151, 174, 216);
}

a:active {
  text-decoration: underline;
  color: rgba(151, 174, 216);
}

body {
  background: #000 url(img/sky.png) repeat top center;
  margin: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.twinkling{
  background: transparent url(img/twinkling.png) repeat top center;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/*non-mobile*/
@media screen
 and (min-width: 361px)
 and (min-height: 641px) {
   /* #gifContainer {
     height: 500px;
     max-width: 500px;
   }
    #gif{
      min-height: 300px;
      min-width: 50px;
      max-height: 500px;
    } */

    progress {
      width: 30%;
    }
}
