input[type=text]:focus {
  border: 3px solid #37a2fa;
}

input {
  margin-bottom: 3em;
}
#label {
  display: block;
  text-align: center;
  margin: 1em;
}

#gifContainer {
  width: auto;
  min-height: 300px;
  max-height: 300px;
}

form {
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#getGif {
  margin-bottom: 2em;
}

html, body {
  height: 100%;
}
