
input {
  margin-bottom: 1em;
  height: 30px;
  font-size: 20px;
  border: 0.3em solid #fff;
  border-radius:0.2em;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
}

input:focus {
   outline: none;
}

#getGif{
   height: 50px;
   width: 150px;
   border: 0.12em solid;
   background-color: transparent;
   border-radius:0.3em;
   color: #fff;
   transition: all 0.2s;
}

#getGif:hover{
  border: #fff;
  color:#fff;
  background: rgba(151, 174, 216, 0.3);
}

#label {
  display: block;
  text-align: center;
  margin: 1em;
}

#gifContainer {
  height: 300px;
  display: flex;
  justify-content: center;
}

form {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#gif {
  max-width: 300px;
  max-height: 200px;
}

html, body {
  height: 100%;
}


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

body {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/*non-mobile*/
@media screen
 and (min-width: 361px)
 and (min-height: 641px) {
   #gifContainer {
     height: 500px;
     max-width: 500px;
   }
    #gif{
      max-width: 400px;
      max-height: 400px;
    }
}
